.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top right, #89f7fe, #66a6ff);
  font-family: "Segoe UI", sans-serif;
  padding: 20px;
}

.weather-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-section input {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 70%;
  font-size: 16px;
}

.search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.weather-info {
  margin-top: 20px;
}

.main-icon {
  width: 100px;
  height: 100px;
}

.weather-info h1 {
  font-size: 48px;
  margin: 10px 0;
}

.weather-info h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.weather-info p {
  text-transform: capitalize;
  color: #555;
}

.weather-details {
  font-size: 0.7rem;
  color: #0e0d0d;
  margin-top: 8px;
}

.details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
}

.detail-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
